*{
   margin: 0; 
   padding: 0; 
   box-sizing: border-box; 
}

.clearfix {
   content: "";
   display: table;
   clear: both;
}

body {
   font-family: 'Lato', sans-serif;
   font-weight: normal;
}

.container {
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   background: linear-gradient( #019688 15%, #DBDBD2 15%);
}

.wrapper {
   width: 75%;
   height: 95%;
   margin: 0 auto;
   display: flex;
   background-color: bisque;
}

.nav {
   float: left;
   width: 500px;
   height: 100%;
}

.lista-contatti {
   width: 100%;
   height: 79%;
   background-position: center;
   overflow-y: scroll;
   background-color: white;
}

.contatti {
   width: 100%;
   height: 11%;
   border-bottom: 0.5px rgb(237, 237, 237) solid;
}

.contatti:hover {
   background-color: rgb(240, 240, 240);
}

.colorChat {
   background-color: rgb(240, 240, 240);
}

.avatar {
   float: left;
   width: 80px;
   height: 80px;
   padding: 10px;
   margin-left: 2px;
}

.avatar img {
   width: 100%;
   height: 100%;
   border-radius: 100%;
}

.nomi {
   /* margin-top: 15px; */
   margin-left: 10px;
   font-weight: 400;
   font-size: 17px;
   padding-top: 12px;
}

.ultimo-sms {
   margin-left: 80px;
   margin-top: 8px;
   color: grey;
}

.main {
   float: left;
   width: calc(100% - 500px);
   height: 100%;
}

.utente {
   display: flex;
   width: 100%;
   height: 8%;
   background-color: #EAEAEA;
}

.myFoto {
   display: flex;
   align-items: center;
   float: left;
   width: 60%;
   height: 100%;
   padding: 10px;
}

.fotoProfilo {
   width: 20%;
   width: 60px;
   height: 100%;
   float: left;
}

.myFoto img {
   width: 100%;
   height: 100%;
   border-radius: 100%;
}

.nomeMio {
   float: left;
   margin-left: 5px;
   font-weight: 400;
}

.iconePersonali {
   display: flex;
   align-items: center;
   justify-content: right;
   float: left;
   width: 40%;
   height: 100%;
   padding: 10px;
}

.fa-circle-notch,
.fa-comment-alt,
.fa-paperclip,
.fa-microphone,
.fa-smile,
.fa-search,
.fa-ellipsis-v {
   font-size: 25px;
   margin-left: 10px;
   margin-right: 10px;
   opacity: 35%;
}

.spunta {
   display: flex;
   justify-content: space-between;
}

.fa-chevron-down {
   color: grey;
   font-size:  15px;
}

.fa-chevron-down:hover {
   opacity: 0.3;
}

.padre {
   position: relative;
}

.figlio {
   position: absolute;
   background-color: white;
   border: 1px solid lightgray;
   right: -90px;
   top: 30px;
   z-index: 9999;
   display: none;
}

.info {
   padding: 10px;
}

.info:hover{
   background-color: rgb(240, 240, 240);
}

.figlio:hover {
   display: block;
}

.hidden {
   display: none;
}

.notifiche {
   align-items: center;
   width: 100%;
   height: 9%;
   background-color: #8EDAFC;
}

.notifica {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 18%;
   height: 100%;
   float: left;
}

.fa-bell-slash {
   display: flex;
   width: 55%;
   height: 60%;
   border-radius: 100%;
   justify-content: center;
   align-items: center;
   background-color: white;
   font-size: 30px;
   color: #8EDAFC;
}

.ricevi-attiva {
   display: flex;
   justify-content: center;
   flex-direction: column;
   height: 100%;
   padding: 5px;
}

.ricevi-notifiche {
   font-weight: 300;
}

.attiva-notifiche {
   font-size: 14px;
   font-weight: 300;
   text-decoration: underline;
   color: #688491;
   margin-top: 3px;
}

.cerca {
   width: 100%;
   height: 4%;
   padding: 5px;
   background-color: #EAEAEA;
}

.search {
   float: left;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 15%;
   height: 100%;
   background-color: white;
   border-right: 0.5px rgb(249, 249, 249) solid;
}

.fa-sistrix {
   font-size: 20px;
}

.cerca-persone {
   float: left;
   width: 85%;
   height: 100%;
   padding: 8px;
   border: rgb(187, 187, 187);
   outline: none;
   border-radius: 3px;
}

.utenteLive {
   width: 100%;
   height: 8%;
   border-left: 0.5px lightgray solid;
   background-color: #EAEAEA;
}

.foto {
   display: flex;
   align-items: center;
   float: left;
   width: 60%;
   height: 100%;
   padding: 10px;
}

.fotoUtente {
   width: 11%;
   width: 60px;
   height: 100%;
}

.nameUser {
   display: flex;
   flex-direction: column;
   margin-left: 8px;
}

.scrive {
   font-size: 14px;
   color: rgb(157, 157, 157);
}

.fotoUtente img {
   width: 100%;
   height: 100%;
   border-radius: 100%;
}

.nomeLive {
   display: block;
   font-weight: 400;
}


.sfondo {
   width: 100%;
   height: 84%;
   background-image: url(../img/mine.jpg);
   background-position: center;
   overflow-y:auto;
}

.received {
   width: 25%;
   float: left;
   clear: both;
   border-radius: 0px 10px 10px 10px;
   margin: 0 100px;
   margin-top: 20px;
   border-left: -30px;
   padding: 10px;
   background-color: white;
   position: relative;
}

.sent {
   width: 25%;
   float: right;
   clear: both;
   border-radius: 10px 0px 10px 10px;
   margin: 0 100px;
   margin-top: 20px;
   border-left: -30px;
   padding: 10px;
   background-color: #DCF8C6;
   position: relative;
}

.data-sms {
   font-size: 10px;
   color: #cbcbcb; 
   text-align: right;
   margin-top: 5px;
}


.modifica {
   position: absolute;
   top: 8px;
   right: 10px;
   font-size: 18px;
   color: rgb(189, 189, 189);
}

.footer {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 100%;
   height: 8%;
   padding: 10px;
   background-color: #F3EEEA;
}

.smile,
.microfono {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 10%;
   height: 100%;
}

.messaggio {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 80%;
   height: 100%;
}

.sms {
   width: 100%;
   height: 90%;
   outline: none;
   border: rgb(187, 187, 187);
   border-radius: 5px;
   padding: 15px;
}

