<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
   <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
   <link rel="stylesheet" href="css/style.css" />

   <title>Titolo Documento</title>
 </head>

 <body>
      <div id="root" class="container">
         <div class="wrapper">
            <div class="nav">
               <div class="utente">
                  <div class="myFoto">
                     <div class="fotoProfilo">
                        <img src="img/avatar_io.jpg" alt="">
                     </div>
                        <span class="nomeMio">Davide Napolitano</span>
                     </div>
                     <div class="iconePersonali">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                     </div>
               </div>
               <div class="notifiche">
                  <div class="notifica">
                     <i class="fas fa-bell-slash"></i>
                  </div>
                  <div class="ricevi-attiva">
                     <p class="ricevi-notifiche">Ricevi notifiche di nuovi messaggi</p>
                     <p class="attiva-notifiche">Attiva notifiche Desktop</p>
                  </div>
               </div>
               <div class="cerca">
                  <div class="search">
                     <i class="fab fa-sistrix"></i>
                  </div>
                  <input class="cerca-persone" type="text" placeholder="Cerca o inzia una nuova chat" v-model="cercaLettera" @keyUp="cerca">
               </div>
               <div class="lista-contatti">
                  <div v-for="(contact, i) in contacts" @click="setUtenteCorrente(i)" :class="(contact.visible) ? 'contatti' : 'hidden'" >
                     <div class="avatar" >
                        <img :src="'img/avatar' + contact.avatar + '.jpg'" alt=""> 
                     </div>
                     <!-- <p class="nomi"> {{bloccaColore}} </p>  -->
                     <p class="nomi"> {{contact.name}} </p> 
                     <p class="ultimo-sms">{{contact.messages.at(-1).message}}</p>
                     <!-- <div>{{contact.messages[contact.messages.length - 1].message}}</div> -->
                  </div>
               </div>
            </div>
            <div class="main">
               <div class="utenteLive">
                  <div class="foto">
                     <div class="fotoUtente">
                        <img :src="'img/avatar' + contacts[utenteAttivoAttuale].avatar + '.jpg' " alt="">
                     </div>
                     <div class="nameUser">
                        <span class="nomeLive">{{ contacts[utenteAttivoAttuale].name  }}</span>
                        <p class="scrive"> {{staScrivendo}} </p>
                     </div>
                     
                  </div>
                  <div class="iconePersonali">
                     <i class="fas fa-search"></i>
                     <i class="fas fa-paperclip"></i>
                     <i class="fas fa-ellipsis-v"></i>
                  </div>
               </div>
               <div class="sfondo">
                  <div v-for="(sms, index) in contacts[utenteAttivoAttuale].messages"> 
                     <div :class="(sms.status == 'sent') ? 'sent' : 'received'" class="padre">
                        <p class="spunta"> {{sms.message}}  <i class="fas fa-chevron-down"></i></p>
                        <p class="data-sms"> {{sms.date}} </p>
                        <div class="figlio">
                           <p class="info">Info Messaggio</p>
                           <p class="info">Rispondi</p>
                           <p class="info">Elimina Messaggio</p>
                        </div>
                     </div>                      
                  </div>
               </div>
               <div class="footer">
                  <div class="smile">
                     <i class="far fa-smile"></i>
                  </div>
                  <div class="messaggio">
                     <input class="sms" type="text" placeholder="Scrivi un messaggio" v-model="nuovoMessaggio" @keyUp.enter="inviaNuovoSms">
                  </div>
                  <div class="microfono">
                     <i class="fas fa-microphone"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>
 
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script src="js/main.js"></script>
 </body>
</html>
